.body {
    margin: 0;
    height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 10px;
}

.add {

    color: #888888;


}