.websitehat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    padding: 0px 50px;
}

.my {
    color: #f52;
    margin-left: 7px;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-family: sans-serif;
    padding: 0px 50px;
}

.productname {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 20px;
    gap: 10px;
    font-family: sans-serif;
    padding: 0px 50px;
    font-size: 32px;
    font-weight: 700;
}

.iphone_photo {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
    gap: 10px;
}

.iphone_photo-image {
    height: 387px;
    display: flex;
    flex-direction: row;
}

.Characteristics {
    padding: 0px 50px;
    margin-top: 30px;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.boxblue {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}

.square {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
    background-color: inherit;
}

.square:hover {
    background: #F2F2F2;
    cursor: pointer;
}

.goods {
    display: flex;
    max-width: 1500px;
    gap: 10px;
}

.square__image {
    display: flex;
    width: 30.93px;
    height: 60px;
    margin: 10px 24.54px;
}

.configuration-memory {
    display: flex;
    flex-direction: column;

}

.configuration-memory__name {
    font-weight: 700;
    font-size: 16px;
}

.configuration-memory__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

}

.btn__memory {
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: inherit;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
font-family: sans-serif;
color: #000000;
}

.Characteristics-goods {
    display: flex;
    flex-direction: column;
}

.Characteristics-goods__name {
    font-weight: 700;
    font-size: 16px;
}

.Characteristics-goods__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

}

.description {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.description-name {
    margin: 0px;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    padding: 0px;
    gap: 30px;
}

.seidbare {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: 0px;
    gap: 40px;
}

.important {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 420px;
    padding: 20px;
}

.cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 132px;
    height: 73px;
}

.old {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 123px;
    height: 24px;
}

.cost__old {
    width: 66px;
    height: 16px;
    color: #888888;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.procent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    color: #FFFFFF;
    border-radius: 500px;
}

.actual {
    width: 132px;
    height: 39px;
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 380px;
    height: 68px;
    font-family: sans-serif;

}

.delivery__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn__drawing {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 92px;
    gap: 10px;
    width: 100%;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    border: transparent;
}

.body {
    font-size: 18px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.advertising {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.advertising__text {
    color: #888888;
    width: 60px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


.advertising__list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 15px;
    width: 100%;
}

.a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

.iframe {
    height: 345px;
    border-color: #ccc;
    border: 1px dashed;

}

.list {
    padding-left: 20px;

}

.feedback {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.other {
    margin-top: 100px;
    padding: 0px 50px;
}

.btn__memory:hover {
    background: #F2F2F2;
    cursor: pointer;

}

.btn__selected {
    border: 2px solid #F36223;
    border-radius: 4px;
}

.btn_sel:hover {
    background-color: #DA4A0C;
    cursor: pointer;
}

.reviews {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 880px;
    margin: 60px 0px;
}

.reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;

}

.reviews-header__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.title-section__name {
    font-weight: 700;
    font-size: 24px;
    margin: 0px;
    font-family: sans-serif;
}

.title-section__number {
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}

.btn__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: inherit;
    border: 1px solid #888888;
    border-radius: 4px;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-top: 25px;
}

.feedback-first {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.feedback-first__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.feedback-first__hat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.feedback-first__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    font-family: sans-serif;
}

.feedback_parameters {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 17px;
}

.separator {
    box-sizing: border-box;
    border-top: 1px solid #888888;
    width: 880px;
    height: 1px;

}

.feedback-first__name {
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    font-family: sans-serif;
}
 .rating-one {
    width: 150px;
    height: 30px;
 }

.feedback__word {
    display: flex;
    flex-direction: row;
}

.feedback-second {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.feedback-second__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.feedback-second__hat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.feedback-second__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    font-family: sans-serif;
}